table{
  font-family:arial,sans-serif;
  color:#54784C;
  }
  td{
    border:1px solid #2C372A;
    text-align:left;
  }
th{
  border:1px solid #2C372A;
  text-align:center;
}
.miparrafo{
	color:blue;
}